{% extends "base.html" %}
{% block content %}

<h2>Add a New Group</h2>

<form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.city.label(class="form-label") }}
    {{ form.city(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.state.label(class="form-label") }}
    {{ form.state(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.website_address.label(class="form-label") }}
    {{ form.website_address(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.social_media.label(class="form-label") }}
    {{ form.social_media(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.lat.label(class="form-label") }}
    {{ form.lat(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.lon.label(class="form-label") }}
    {{ form.lon(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.img_url.label(class="form-label") }}
    {{ form.img_url(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.map_url.label(class="form-label") }}
    {{ form.map_url(class="form-control") }}
  </div>

  <button type="submit" class="btn btn-primary">Add Group</button>
</form>
{% endblock %}
