{% extends "base.html" %}
{% block content %}


<div class="terms">
  <h2>I promise to be:</h2>
  <ul>
    <li>Respectful
      <ul>
        <li>I won't engage in any kind of hateful speech about groups.</li>
      </ul>
    </li>
    <li>Truthful
      <ul>
        <li>I won't make up information that isn't true, etc.</li>
      </ul>
    </li>
    <li>True to the Faith
      <ul>
        <li>I won't promote anything or any group contrary to the teachings of Rome.</li>
      </ul>
    </li>
  </ul>
</div>

</body>
</html>

{% endblock %}